$good: #00af91;
$satisfactory: #11698e;
$moderate: #fb743e;
$poor: #c70039;
$very-poor: #e40017;
$severe: #a20a0a;
$white: #fff;
$black: #000;
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
main {
  text-align: center;
  .overview {
    display: flex;
    justify-content: center;
    padding: 1em;
    .chart {
      padding: 0 1em;
      flex-grow: 1;
      height: 100px;
    }
  }
}

table.styled-table {
  border-collapse: collapse;
  font-family: sans-serif;
  min-width: 400px;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transition: 300ms ease-in-out;
  th,
  td {
    padding: 12px 15px;
    text-align: center;
  }
  thead {
    tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #dddddd;
    }
    tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    tr:last-of-type {
      border-bottom: 2px solid #009879;
    }
    tr.active {
      font-weight: bold;
      background: #bfdcae;
    }
    td {
      &.aqi {
        font-weight: bolder;
      }
      &.good {
        color: $good;
      }
      &.satisfactory {
        color: $satisfactory;
      }
      &.moderate {
        color: $moderate;
      }
      &.poor {
        color: $poor;
      }
      &.very-poor {
        color: $very-poor;
      }
      &.severe {
        color: $severe;
      }
      button {
        display: inline-block;
        padding: 0.35em 1.2em;
        border: 0.1em solid #153e90;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        font-weight: 300;
        text-align: center;
        transition: all 0.2s;
        cursor: pointer;
        &:hover {
          color: #ffffff;
          background-color: #153e90;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
  /* phones */
}
