$good: #46c43a;
$satisfactory: #295939;
$moderate: #ffcc29;
$poor: #ff7b54;
$very-poor: #d32626;
$severe: #b90c0c;
$white: #fff;
$black: #000;
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-700px) rotate(600deg);
  }
}
.app {
  padding: 1em;
  text-align: center;
  background: linear-gradient(-45deg, #fcd1d1, #ece2e1, #d3e0dc, #aee1e1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  .overview {
    display: flex;
    flex-wrap: wrap;
  }
}

.card {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 4px #ddd, 0px 3px 4px #ddd;
  background: linear-gradient(45deg, #f0f0f0, #fff);
  border-radius: 4px;
  width: 200px;
  height: 100px;
  cursor: pointer;
  margin: 1em;
  color: #222;
  transition: 300ms ease-in-out;

  .bg-good {
    color: $good;
  }
  .bg-satisfactory {
    color: $satisfactory;
  }
  .bg-moderate {
    color: $moderate;
  }
  .bg-poor {
    color: $poor;
  }
  .bg-very-poor {
    color: $very-poor;
  }
  .bg-severe {
    color: $severe;
  }
  .card-body {
    padding: 0.5em;
    .text-lg {
      font-size: 2em;
      & + div {
        padding-top: 0.5em;
        font-size: 1.3em;
      }
    }
  }
}
