body {
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-100 {
  width: 100% !important;
}
.d-flex {
  display: flex !important;
}
.justify-center {
  justify-content: center !important;
}
